@import url('css-reset.css');

html {
  font: normal 16px Helvetica, Arial, sans-serif;
}

body {
  background-color: #FCD733;
}

header {
  background-color: #2B7FC1;
  width: 900px;
  margin: 0 auto;
  padding: 30px 25px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

h1 {
  font-size: 38.5px;
}

h2 {
  font-size: 32px
}
 
header a {
  color: white;
}

main {
  background-color: #EBECED;
  width: 900px;
  margin: 30px auto 40px;
  padding: 25px 25px 41px
}

.products {
  display: grid;
  margin-top: 25px;
  grid-template-columns: repeat(4, 1fr);
  gap: 17px;
}


.product {
  background-color: white;
  width: 200px;
  height: 235px;
}

.product:hover {
  cursor: pointer;
}

.product img {
  height: 140px;
  display: block;
  margin: 15px auto;
}

.product-info {
  margin-left: 15px;
  margin-top: 20px;
}

.product-name {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
